In [2]:
import os
import random
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

import matplotlib.pyplot as plt
%matplotlib inline

import torch
import torch.nn as nn
from torch.utils.data import TensorDataset, DataLoader
from tqdm import tqdm
import pickle

In [3]:
###############################################################################
# 주어진 결과와 정확히 비교하기 위한 random seed 고정
###############################################################################

seed = 42  # 바꾸지 마시오!
random.seed(seed)
np.random.seed(seed)

In [4]:
base_path = os.path.join(os.curdir, 'data/train/')
data_path = os.path.join(base_path, 'rating.csv')
genre_path = os.path.join(base_path, "genres.tsv")
writer_path = os.path.join(base_path, "writers.tsv")
director_path = os.path.join(base_path, "directors.tsv")

director_path

'./data/train/directors.tsv'

In [7]:
# 평점 데이터
rating_df = pd.read_csv(data_path,index_col = 0)
rating_df.rating = 1
rating_df

           user   item  rating
0            11   4643       1
1            11    170       1
2            11    531       1
3            11    616       1
4            11   2140       1
...         ...    ...     ...
5154466  138493  44022       1
5154467  138493   4958       1
5154468  138493  68319       1
5154469  138493  40819       1
5154470  138493  27311       1

[5154471 rows x 3 columns]

In [6]:
rating_df.user = rating_df.user.astype('category').cat.codes
rating_df

          user   item  rating
0            0   4643       1
1            0    170       1
2            0    531       1
3            0    616       1
4            0   2140       1
...        ...    ...     ...
5154466  31359  44022       1
5154467  31359   4958       1
5154468  31359  68319       1
5154469  31359  40819       1
5154470  31359  27311       1

[5154471 rows x 3 columns]

In [47]:
assert rating_user_dict == user_dict

In [50]:
def get_popular_item(rating_df):
    df = rating_df.pivot_table(index=['item'], aggfunc='size').sort_values(ascending=True)
    df = df[df > 1000]
    ret = df.index.to_numpy()
    return set(ret.flatten())

popular_item = get_popular_item(rating_df)

{0,
 1,
 4098,
 4099,
 6148,
 2053,
 5,
 4101,
 2056,
 9,
 10,
 4107,
 2060,
 4108,
 6158,
 6159,
 16,
 4113,
 18,
 4115,
 2068,
 20,
 4116,
 2071,
 24,
 2069,
 2067,
 6171,
 28,
 6173,
 6172,
 6175,
 2080,
 33,
 34,
 32,
 31,
 2086,
 41,
 42,
 43,
 2093,
 46,
 6190,
 49,
 53,
 69,
 72,
 2121,
 73,
 6219,
 2124,
 2125,
 15,
 77,
 76,
 87,
 2135,
 2137,
 89,
 2138,
 2140,
 92,
 94,
 6239,
 101,
 103,
 105,
 2156,
 109,
 2157,
 6257,
 116,
 2164,
 2166,
 118,
 2170,
 2176,
 6275,
 133,
 136,
 137,
 2186,
 2187,
 140,
 2192,
 6290,
 2195,
 146,
 149,
 2199,
 2200,
 154,
 2202,
 2204,
 2205,
 6300,
 158,
 6304,
 2208,
 162,
 2211,
 2212,
 165,
 161,
 2217,
 6315,
 6317,
 6318,
 6319,
 174,
 177,
 178,
 179,
 181,
 6327,
 6329,
 185,
 187,
 186,
 191,
 192,
 193,
 194,
 2243,
 4296,
 2249,
 201,
 203,
 6348,
 4301,
 2251,
 207,
 208,
 2257,
 210,
 6352,
 205,
 209,
 2262,
 215,
 6360,
 2264,
 214,
 218,
 220,
 221,
 4321,
 226,
 229,
 230,
 231,
 237,
 239,
 6388,
 249,
 2301,
 2304,
 260,
 261,
 2309,
 263,
 6407,
 2312,
 266,
 6410,
 268,
 267,
 6408,
 6415,
 2314,
 6417,
 273,
 6160,
 2324,
 2320,
 278,
 276,
 281,
 283,
 284,
 6428,
 287,
 291,
 2340,
 2344,
 4393,
 2346,
 299,
 2345,
 300,
 2351,
 4399,
 305,
 2354,
 2355,
 308,
 4405,
 306,
 4407,
 313,
 6460,
 316,
 318,
 2367,
 317,
 4418,
 326,
 2376,
 328,
 2378,
 4427,
 330,
 6477,
 2380,
 2381,
 336,
 337,
 6481,
 338,
 339,
 4437,
 4443,
 350,
 351,
 6496,
 352,
 354,
 355,
 353,
 357,
 358,
 359,
 360,
 356,
 4458,
 363,
 6508,
 4463,
 368,
 4466,
 371,
 4467,
 4469,
 4470,
 2425,
 378,
 4475,
 380,
 2426,
 6521,
 377,
 2445,
 6542,
 400,
 2450,
 403,
 406,
 6552,
 6553,
 410,
 4505,
 6556,
 408,
 413,
 416,
 423,
 6568,
 424,
 4522,
 427,
 428,
 429,
 430,
 431,
 4524,
 4528,
 2479,
 6572,
 436,
 438,
 4536,
 443,
 447,
 2503,
 455,
 2505,
 466,
 467,
 470,
 471,
 6616,
 472,
 6619,
 476,
 477,
 478,
 479,
 480,
 481,
 2530,
 483,
 484,
 482,
 4581,
 487,
 488,
 490,
 2539,
 491,
 493,
 2541,
 495,
 492,
 497,
 500,
 2548,
 4597,
 4608,
 4610,
 519,
 520,
 2568,
 523,
 524,
 4621,
 6673,
 4630,
 4635,
 2591,
 4640,
 547,
 549,
 4646,
 552,
 553,
 6698,
 6699,
 555,
 554,
 558,
 2607,
 6704,
 2606,
 2610,
 4659,
 6708,
 565,
 2613,
 4663,
 4660,
 2614,
 2618,
 4666,
 2616,
 573,
 574,
 575,
 4670,
 2624,
 2619,
 2628,
 580,
 582,
 6727,
 6728,
 4680,
 584,
 4679,
 585,
 589,
 591,
 592,
 593,
 4690,
 594,
 596,
 597,
 598,
 599,
 4695,
 601,
 604,
 6749,
 605,
 606,
 608,
 4703,
 2653,
 4707,
 6756,
 4709,
 614,
 2661,
 612,
 2664,
 2659,
 619,
 621,
 2670,
 2672,
 6770,
 627,
 4724,
 629,
 4726,
 632,
 4729,
 634,
 2683,
 636,
 637,
 2686,
 2687,
 2688,
 4735,
 4736,
 644,
 646,
 647,
 648,
 649,
 650,
 651,
 653,
 2702,
 654,
 4752,
 656,
 658,
 657,
 2708,
 661,
 2710,
 4759,
 664,
 4756,
 666,
 662,
 668,
 669,
 670,
 671,
 672,
 4769,
 674,
 676,
 677,
 678,
 679,
 2728,
 4777,
 681,
 683,
 682,
 2733,
 685,
 687,
 4784,
 689,
 691,
 692,
 4789,
 4787,
 695,
 696,
 697,
 694,
 699,
 700,
 701,
 4791,
 703,
 2752,
 704,
 706,
 707,
 708,
 709,
 4806,
 710,
 4808,
 4809,
 4810,
 2763,
 716,
 714,
 718,
 719,
 2767,
 721,
 722,
 723,
 4820,
 725,
 717,
 2775,
 728,
 729,
 730,
 731,
 2780,
 732,
 734,
 735,
 738,
 739,
 2788,
 740,
 744,
 745,
 2794,
 748,
 750,
 753,
 754,
 755,
 757,
 760,
 763,
 2812,
 765,
 767,
 768,
 769,
 773,
 774,
 775,
 561,
 2821,
 2822,
 562,
 781,
 2829,
 783,
 784,
 782,
 4882,
 787,
 788,
 789,
 786,
 4886,
 792,
 4888,
 4890,
 795,
 2841,
 799,
 4896,
 801,
 802,
 2851,
 804,
 4901,
 4902,
 807,
 808,
 809,
 4906,
 2859,
 2603,
 2852,
 2862,
 4917,
 822,
 2871,
 826,
 4926,
 2879,
 4928,
 833,
 835,
 4933,
 4936,
 4937,
 843,
 4941,
 2894,
 848,
 4947,
 4948,
 852,
 4950,
 854,
 2907,
 4955,
 859,
 862,
 4962,
 867,
 2917,
 869,
 871,
 4968,
 873,
 2922,
 2923,
 876,
 4965,
 870,
 881,
 2930,
 4979,
 4980,
 883,
 4982,
 885,
 4984,
 890,
 4988,
 894,
 899,
 900,
 901,
 2951,
 904,
 2953,
 2955,
 5004,
 5003,
 908,
 911,
 2961,
 914,
 915,
 916,
 918,
 920,
 925,
 5023,
 2976,
 5026,
 931,
 2980,
 5032,
 937,
 938,
 2989,
 941,
 5037,
 2991,
 5038,
 946,
 947,
 943,
 5042,
 5052,
 957,
 3006,
 5055,
 959,
 3010,
 5058,
 5059,
 966,
 5069,
 3022,
 3021,
 5078,
 5081,
 3035,
 988,
 3038,
 3039,
 3041,
 993,
 3048,
 5096,
 1004,
 1005,
 3054,
 3055,
 1007,
 3057,
 3053,
 1011,
 1012,
 3061,
 1015,
 1016,
 3068,
 5117,
 1032,
 1034,
 1039,
 1040,
 1041,
 1042,
 1044,
 3093,
 1047,
 1048,
 1049,
 5147,
 1054,
 1055,
 5162,
 3115,
 1069,
 5169,
 1076,
 1078,
 5175,
 3128,
 1081,
 1082,
 1083,
 1080,
 1085,
 1086,
 1088,
 1089,
 1090,
 5187,
 3142,
 1094,
 1096,
 1097,
 1095,
 1099,
 5195,
 1103,
 5200,
 5202,
 3159,
 3160,
 3162,
 5210,
 1116,
 1114,
 1119,
 1122,
 5218,
 3176,
 1130,
 3179,
 5228,
 1133,
 1132,
 1134,
 5232,
 5233,
 1138,
 1139,
 3181,
 3189,
 3193,
 5242,
 1147,
 3197,
 1150,
 1152,
 3201,
 5250,
 3200,
 1156,
 3206,
 5257,
 1161,
 5261,
 5263,
 1170,
 1171,
 5267,
 5268,
 3222,
 5275,
 5276,
 1182,
 1183,
 5279,
 1187,
 1188,
 5283,
 1191,
 3240,
 1196,
 1197,
 5298,
 1202,
 5301,
 3253,
 1207,
 5302,
 1206,
 5306,
 3255,
 1216,
 3266,
 1219,
 5314,
 1220,
 5322,
 1232,
 5329,
 1233,
 5332,
 5334,
 3289,
 1242,
 3291,
 5340,
 5341,
 5339,
 655,
 1249,
 1252,
 1254,
 3303,
 3305,
 5353,
 5356,
 1260,
 5357,
 1263,
 1264,
 5362,
 1267,
 659,
 1269,
 1274,
 1277,
 5374,
 5375,
 3325,
 1279,
 1281,
 5379,
 3328,
 1284,
 663,
 5385,
 1289,
 5386,
 1292,
 3342,
 5391,
 1299,
 5397,
 3350,
 5399,
 1304,
 5400,
 1301,
 1308,
 1312,
 3361,
 5414,
 3367,
 3373,
 5424,
 1329,
 5425,
 1331,
 1332,
 1333,
 1334,
 1335,
 1339,
 1342,
 1343,
 3392,
 3394,
 5445,
 3397,
 3399,
 3400,
 1352,
 1355,
 1356,
 1358,
 1362,
 5461,
 5466,
 3420,
 3422,
 1376,
 3424,
 5475,
 3428,
 1382,
 1385,
 3433,
 3435,
 1394,
 5490,
 5493,
 5494,
 1399,
 3448,
 1400,
 5508,
 3461,
 1414,
 5514,
 1419,
 1420,
 1421,
 5521,
 5522,
 5523,
 5524,
 3479,
 1435,
 1436,
 1439,
 693,
 1445,
 1448,
 1449,
 1450,
 5547,
 1458,
 1462,
 1466,
 1467,
 5564,
 5566,
 1473,
 5571,
 1478,
 5575,
 1483,
 1484,
 3534,
 5583,
 1489,
 1491,
 3539,
 1493,
 1494,
 1498,
 1499,
 705,
 1501,
 1502,
 1504,
 1505,
 1511,
 3562,
 3563,
 1516,
 5613,
 1517,
 1519,
 3567,
 3570,
 1524,
 3572,
 3574,
 1526,
 1531,
 1532,
 1533,
 712,
 5634,
 713,
 5637,
 5638,
 5636,
 1544,
 1547,
 1551,
 1553,
 5652,
 1559,
 3608,
 3610,
 1568,
 3618,
 5668,
 5669,
 5670,
 5671,
 4790,
 5674,
 5675,
 5676,
 1580,
 3635,
 1589,
 5692,
 1601,
 3653,
 3654,
 1607,
 1609,
 1610,
 2762,
 1612,
 3661,
 3663,
 5712,
 3673,
 3679,
 1633,
 1635,
 1636,
 1637,
 ...}

In [76]:
def get_inference_df(rating_df):
    user_group_dfs = list(rating_df.groupby('user')['item'])
    popular_item = get_popular_item(rating_df)
    dfs = np.array([]).reshape(0, 2)
    user_list = list()
    target_list = list()
    for user, user_seen_list in tqdm(user_group_dfs):

        user_seen_set = set(user_seen_list)
        
        targets = list(popular_item - user_seen_set)

        target_len = len(targets)

        users = [user] * target_len
        
        user_list += users
        target_list += targets

    dfs = np.vstack((user_list,target_list)).T
    inference_df = pd.DataFrame(data=dfs, columns=["user", "item"])
    return inference_df

inf_df = get_inference_df(rating_df)

100%|██████████| 31360/31360 [00:04<00:00, 7502.93it/s]

In [81]:
inf_df.to_csv("inf_df.csv",index=False)

# Negative sample

In [8]:
items = set(rating_df.loc[:, 'item'])
user_group_dfs = list(rating_df.groupby('user')['item'])
    
user_neg_dfs = np.array([]).reshape(0, 3)
user_group_dfs

num_negative = 100

for u, user_seen_list in tqdm(user_group_dfs):
        
    #-- User가 시청한 영화 집합
    user_seen_set = set(user_seen_list)
        
    #-- 시청한 영화를 제외한 num_negative개의 영화 선택
    i_user_neg_item = np.random.choice(list(items - user_seen_set), num_negative, replace=False)
        
        #-- negative sample item's rating = 0
    neg_users = np.full(num_negative, u)
    neg_ratings = np.zeros(num_negative)
        
    #-- user u 에 대한 negative sample 결과 생성 : ["neg_user", "neg_item", "neg_rate"]
    neg_results = np.vstack((neg_users, i_user_neg_item, neg_ratings)).T
    user_neg_dfs = np.vstack((user_neg_dfs, neg_results))
    
neg_rating_df = pd.DataFrame(data=user_neg_dfs, columns=["user", "item", "rating"])
rating_df = pd.concat([rating_df, neg_rating_df], axis=0, sort=False)

100%|██████████| 31360/31360 [10:38<00:00, 49.10it/s]

In [9]:
rating_df.to_csv('rating_negative_samples_100.csv', index= False)

In [11]:
print(len(rating_df)) #before 6722471 
rating_df.head(20)

8290471

    user     item  rating
0   11.0   4643.0     1.0
1   11.0    170.0     1.0
2   11.0    531.0     1.0
3   11.0    616.0     1.0
4   11.0   2140.0     1.0
5   11.0   2722.0     1.0
6   11.0   2313.0     1.0
7   11.0   2688.0     1.0
8   11.0   2428.0     1.0
9   11.0   3113.0     1.0
10  11.0   1591.0     1.0
11  11.0   2600.0     1.0
12  11.0   8169.0     1.0
13  11.0   2572.0     1.0
14  11.0  58293.0     1.0
15  11.0   7541.0     1.0
16  11.0   1367.0     1.0
17  11.0     32.0     1.0
18  11.0   4792.0     1.0
19  11.0   7444.0     1.0

In [248]:
len(rating_df)
rating_df

             user     item  rating
0            11.0   4643.0     1.0
1            11.0    170.0     1.0
2            11.0    531.0     1.0
3            11.0    616.0     1.0
4            11.0   2140.0     1.0
...           ...      ...     ...
1567995  138493.0  39715.0     0.0
1567996  138493.0    718.0     0.0
1567997  138493.0   6436.0     0.0
1567998  138493.0   3189.0     0.0
1567999  138493.0   4339.0     0.0

[6722471 rows x 3 columns]

In [12]:
# 장르 데이터
gener_df = pd.read_csv(genre_path,delimiter="\t")

# 작가 데이터
writer_df = pd.read_csv(writer_path, delimiter="\t")

# 감독 데이터
director_df = pd.read_csv(director_path, delimiter="\t")

In [13]:
writer_df = writer_df.drop_duplicates(subset=['item'])
writer_np = np.unique(writer_df.writer.to_numpy())
len(writer_np)

2027

In [14]:
gener_df["genre"] = gener_df["genre"].astype("category")
gener_df

         item        genre
0         318        Crime
1         318        Drama
2        2571       Action
3        2571       Sci-Fi
4        2571     Thriller
...       ...          ...
15928  109850        Drama
15929    8605       Action
15930    8605       Comedy
15931    3689       Comedy
15932    8130  Documentary

[15933 rows x 2 columns]

In [15]:
temp = pd.get_dummies(gener_df)

0           318
1           318
2          2571
3          2571
4          2571
          ...
15928    109850
15929      8605
15930      8605
15931      3689
15932      8130
Name: item, Length: 15933, dtype: int64

In [16]:
df = temp.groupby(by=["item"], as_index = False).agg("sum")

In [17]:
df.set_index('item')
names = ['item'] + list(range(1,19))
df.columns = names

In [18]:
df.sort_values('item')

        item  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18
0          1  0  1  1  1  1  0  0  0  1   0   0   0   0   0   0   0   0   0
1          2  0  1  0  1  0  0  0  0  1   0   0   0   0   0   0   0   0   0
2          3  0  0  0  0  1  0  0  0  0   0   0   0   0   1   0   0   0   0
3          4  0  0  0  0  1  0  0  1  0   0   0   0   0   1   0   0   0   0
4          5  0  0  0  0  1  0  0  0  0   0   0   0   0   0   0   0   0   0
...      ... .. .. .. .. .. .. .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
6802  118700  0  0  0  0  0  0  0  1  0   0   0   0   0   0   0   0   0   0
6803  118900  0  0  0  0  0  0  0  1  0   0   0   0   0   0   0   0   0   0
6804  118997  0  0  0  1  1  0  0  0  1   0   0   1   0   0   0   0   0   0
6805  119141  1  0  0  0  1  0  0  0  0   0   0   0   0   0   0   0   0   0
6806  119145  1  1  0  0  1  1  0  0  0   0   0   0   0   0   0   0   0   0

[6807 rows x 19 columns]

In [20]:
gener_writer_df = pd.merge(left=df, right=writer_df, how='outer', on='item')

In [21]:
gener_writer_df.writer = gener_writer_df.writer.astype('category').cat.codes

In [22]:
tt = pd.merge(left= rating_df, right=gener_writer_df, how='inner', on='item' )
print(len(tt))
tt

8290471

,user,item,rating,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,writer
0,11.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
1,189.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
2,294.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
3,383.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
4,421.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8290466,138209.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
8290467,138273.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
8290468,138295.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
8290469,138348.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
8290470,138406.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713

In [24]:
gener_writer_df.item = gener_writer_df.item.astype('category').cat.codes

In [25]:
gener_writer_df

,item,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,writer
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,285
1,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1102
2,2,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1189
3,3,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,437
4,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6802,6802,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,-1
6803,6803,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1136
6804,6804,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1294
6805,6805,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1634
6806,6806,1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1821

In [19]:
inf_df = pd.read_csv("inf_df.csv")
inf_df

           user  item
0             0     1
1             0  4098
2             0  4099
3             0  6148
4             0  2053
...         ...   ...
32761673  31359  2035
32761674  31359  2036
32761675  31359  2044
32761676  31359  4093
32761677  31359  4094

[32761678 rows x 2 columns]

In [26]:
inference_df = pd.merge(left= inf_df, right=gener_writer_df, how='inner', on='item' )
inference_df

,user,item,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,writer
0,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
1,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
2,2,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
3,3,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
4,4,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32761673,31352,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761674,31353,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761675,31355,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761676,31356,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650
32761677,31358,220,0,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1650

In [27]:
inference_df[inference_df.writer == -1]

,user,item,1,2,3,4,5,6,7,8,...,10,11,12,13,14,15,16,17,18,writer
56253,0,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56254,1,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56255,2,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56256,3,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
56257,4,4099,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31724235,31355,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724236,31356,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724237,31357,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724238,31358,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1
31724239,31359,3479,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,-1

In [28]:
idx_list = inference_df[inference_df.writer == -1].index
for idx in idx_list:
    inference_df.at[idx,"writer"] = random.randrange(0,2027)

Empty DataFrame
Columns: [user, item, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, writer]
Index: []

[0 rows x 21 columns]

In [29]:
inference_df.to_csv("inference_base.csv",index=False)

In [23]:
idx_list = tt[tt.writer == -1].index
for idx in idx_list:
    tt.at[idx,"writer"] = random.randrange(0,2027)

tt.loc[1122]

user       116.0
item      4643.0
rating       0.0
1            1.0
2            1.0
3            0.0
4            0.0
5            0.0
6            0.0
7            0.0
8            1.0
9            0.0
10           0.0
11           0.0
12           0.0
13           0.0
14           0.0
15           1.0
16           0.0
17           0.0
18           0.0
writer     536.0
Name: 1122, dtype: float64

In [24]:
tt.to_csv('rating_gener_writer_df_100.csv',index=False)

In [30]:
ffm_df = pd.read_csv('rating_gener_writer_df.csv')

In [4]:
ffm_df.user.astype('category').cat.categories

Float64Index([    11.0,     14.0,     18.0,     25.0,     31.0,     35.0,
                  43.0,     50.0,     58.0,     60.0,
              ...
              138459.0, 138461.0, 138470.0, 138471.0, 138472.0, 138473.0,
              138475.0, 138486.0, 138492.0, 138493.0],
             dtype='float64', length=31360)

In [33]:
user_cat = ffm_df.user.astype('category').cat
user_dict = dict(enumerate(user_cat.categories))
# save data
with open('user_dict.pickle','wb') as fw:
    pickle.dump(user_dict, fw)

In [34]:
item_cat = ffm_df.item.astype('category').cat
item_dict = dict(enumerate(item_cat.categories))
# save data
with open('item_dict.pickle','wb') as fw:
    pickle.dump(item_dict, fw)

In [43]:
# load data
with open('user_dict.pickle', 'rb') as fr:
    user_dict = pickle.load(fr)
    # load data
with open('item_dict.pickle', 'rb') as fr:
    item_dict = pickle.load(fr)
print("users :", len(user_dict)) #31360
print("items :", len(item_dict)) #6807

users : 31360
items : 6807

In [12]:
ffm_df

,user,item,rating,1,2,3,4,5,6,7,...,10,11,12,13,14,15,16,17,18,writer
0,11.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
1,189.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
2,294.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
3,383.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
4,421.0,4643.0,1.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6722466,135123.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722467,135718.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722468,136042.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722469,138115.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713
6722470,138348.0,102880.0,0.0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1713

### 0.7. FFM 모델에 사용할 데이터셋 만들기

In [31]:
col_len = list() #[31360, 6807, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2027]

for col in ffm_df.columns:
    if col == "rating":
        continue
    category = ffm_df[f"{col}"].astype('category')
    col_len.append(len(ffm_df[f"{col}"].astype('category').cat.categories))
    ffm_df[f"{col}"] = category.cat.codes
    
col_len

[31360, 6807, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2027]

In [32]:
ffm_df = ffm_df

train_X, test_X, train_y, test_y = train_test_split(
    ffm_df.loc[:, ffm_df.columns != 'rating'], ffm_df['rating'], test_size=0.2, random_state=seed)
print('학습 데이터 크기:', train_X.shape, train_y.shape)
print('테스트 데이터 크기:', test_X.shape, test_y.shape)

학습 데이터 크기: (5377976, 21) (5377976,)
테스트 데이터 크기: (1344495, 21) (1344495,)

- `task = 'reg'` : 회귀 문제
    - 학습 : MSE를 손실함수로 사용
    - 검증 : MAE 사용


- `task = 'clf'` : 이진 분류 문제
    - 학습 : Cross Entropy를 손실 함수로 사용 ( 모델의 리턴 값이 logit이므로 `nn.BCEWithLogitsLoss()`를 사용 )
    - 검증 : AUC 사용

In [37]:
class FFMLayer(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions 
                        The sum become the entire dimension of input (in sparse feature)
                        The length become the number of fields
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.num_fields = len(field_dims)
        self.input_dim = sum(field_dims) #.to(device)
        self.embedding = nn.ModuleList([
            # FILL HERE : Fill in the places `None` with                                      #
            #             either `factorization_dim`, `self.num_fields`, or `self.input_dim`. #
            nn.Embedding(
                self.input_dim, factor_dim
            ) for _ in range(self.num_fields)
        ])

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
               Each value of variable is an index calculated including the dimensions up to the previous variable.
               for instance, [gender:male, age:20, is_student:True] 
                             -> [1,0, 0,1,0,0,0,0, 0,1] in one-hot encoding
                             -> x = [0,3,9].
        Return
            y: Float tensor of size "(batch_size)"
        '''
        
        xv = [self.embedding[f](x) for f in range(self.num_fields)]
        
        y = list()
        for f in range(self.num_fields):
            for g in range(f + 1, self.num_fields):
                y.append(xv[f][:, g] *  xv[g][:, f])
        y = torch.stack(y, dim=1)
        
        return torch.sum(y, dim=(2,1))

class FieldAwareFM(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.input_dim = sum(field_dims)
        self.encoding_dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])
        self.linear = nn.Linear(self.input_dim, 1, bias=True) # FILL HERE : Fill in the places `None` #
        self.ffm = FFMLayer(field_dims, factor_dim) # FILL HERE : Fill in the places `None` #
        
    def _initialize_weights(self):
        for m in self.modules():
            if isinstance(m, nn.Linear):
                nn.init.normal_(m.weight, 0, 0.01)
                nn.init.constant_(m.bias, 0)
            elif isinstance(m, nn.Embedding):
                nn.init.xavier_uniform_(m.weight)
            elif isinstance(m, FFMLayer):
                nn.init.normal_(m.v, 0, 0.01)

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
                x_multihot: Multi-hot coding of x. size "(batch_size, self.input_dim)"
        
        Return
            y: Float tensor of size "(batch_size)"
        '''
        dims = torch.tensor(self.input_dim).to(device)
        x = x + x.new_tensor(self.encoding_dims).unsqueeze(0)
        x_multihot = torch.zeros(x.size(0), dims).to(device).scatter_(1, x, 1.)
        
        y = self.linear(x_multihot).squeeze(1) + self.ffm(x) # FILL HERE : Use `self.linear()` and `self.ffm()` #

        return y


def train_loop(dataloader, model, loss_fn, optimizer):
    size = len(dataloader.dataset)
    num_batches = len(dataloader)
    train_loss = 0
    
    for batch, (X, y) in enumerate(dataloader):
        X, y = X.to(device), y.to(device)
        # Compute prediction and loss
        pred = model(X)
        loss = loss_fn(pred, y)
        train_loss += loss.item()

        # Backpropagation
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        if batch % 1000 == 0:
            loss, current = loss.item(), batch * len(X)
            print(f"loss: {loss:>7f}  [{current:>5d}/{size:>5d}]")
    train_loss /= num_batches
    
    return train_loss


def test_loop(dataloader, model, loss_fn, task):
    num_batches = len(dataloader)
    test_loss, y_all, pred_all = 0, list(), list()

    with torch.no_grad():
        for X, y in dataloader:
            X, y = X.to(device), y.to(device)
            pred = model(X)
            test_loss += loss_fn(pred, y).item() / num_batches
            y_all.append(y)
            pred_all.append(pred)
    
    y_all = torch.cat(y_all).cpu()
    pred_all = torch.cat(pred_all).cpu()
    
    if task == 'reg':
        err = abs(pred_all - y_all).type(torch.float).mean().item()
        print(f"Test Error: \n  MAE: {(err):>8f} \n  Avg loss: {test_loss:>8f}")
    else:
        err = roc_auc_score(y_all, torch.sigmoid(pred_all)).item()
        print(f"Test Error: \n  AUC: {err:>8f} \n  Avg loss: {test_loss:>8f}")
    
    return err, test_loss

def train_and_test(train_dataloader, test_dataloader, model, loss_fn, optimizer, epochs, task):
    train_loss, test_err, test_loss = list(), list(), list()
    
    for t in range(epochs):
        print(f"Epoch {t+1}\n-------------------------------")
        train_loss.append(train_loop(train_dataloader, model, loss_fn, optimizer))
        test_result = test_loop(test_dataloader, model, loss_fn, task)
        test_err.append(test_result[0])
        test_loss.append(test_result[1])
        print("-------------------------------\n")
    print("Done!")
    
    return train_loss, test_err, test_loss


# PyTorch의 DataLoader에서 사용할 수 있도록 변환 
train_dataset_ffm = TensorDataset(torch.LongTensor(np.array(train_X)), torch.Tensor(np.array(train_y)))
test_dataset_ffm = TensorDataset(torch.LongTensor(np.array(test_X)), torch.Tensor(np.array(test_y)))

######## Hyperparameter ########

batch_size = 64
data_shuffle = True
task = 'clf'
factorization_dim = 8
epochs = 1
learning_rate = 0.001
gpu_idx = 0

################################
# torch.cuda.empty_cache() # if necessary
torch.manual_seed(seed)
if torch.cuda.is_available():
    torch.cuda.manual_seed_all(seed)
    torch.backends.cudnn.deterministic = True

# cuda setting
use_cuda = torch.cuda.is_available()
device = torch.device("cuda" if use_cuda else "cpu")

train_dataloader_ffm = DataLoader(train_dataset_ffm,num_workers = 4, batch_size=batch_size, shuffle=data_shuffle)
test_dataloader_ffm = DataLoader(test_dataset_ffm,num_workers = 4, batch_size=batch_size, shuffle=data_shuffle)
# train_dataloader_ffm = DataLoader(train_dataset_ffm, batch_size=batch_size, shuffle=data_shuffle)
# test_dataloader_ffm = DataLoader(test_dataset_ffm, batch_size=batch_size, shuffle=data_shuffle)

field_dims = col_len # 각 col의 길이
model = FieldAwareFM(field_dims, factorization_dim).to(device)

loss_fn = nn.MSELoss().to(device) if (task == 'clf') else nn.BCEWithLogitsLoss().to(device)
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate, weight_decay=0.001, amsgrad=True)

train_loss, test_err, test_loss = train_and_test(train_dataloader_ffm, test_dataloader_ffm, 
                                                 model, loss_fn, optimizer, epochs, task)

cuda
Epoch 1
-------------------------------
loss: 1030.102539  [    0/5377976]
loss: 105.327217  [64000/5377976]
loss: 82.347389  [128000/5377976]
loss: 28.503357  [192000/5377976]
loss: 20.612480  [256000/5377976]
loss: 16.333706  [320000/5377976]
loss: 10.996138  [384000/5377976]
loss: 9.602505  [448000/5377976]
loss: 13.287176  [512000/5377976]
loss: 8.214600  [576000/5377976]
loss: 7.492981  [640000/5377976]
loss: 2.553311  [704000/5377976]
loss: 6.406963  [768000/5377976]
loss: 1.968645  [832000/5377976]
loss: 2.047839  [896000/5377976]
loss: 1.574688  [960000/5377976]
loss: 2.384252  [1024000/5377976]
loss: 2.269759  [1088000/5377976]
loss: 1.786258  [1152000/5377976]
loss: 1.434981  [1216000/5377976]
loss: 1.772189  [1280000/5377976]
loss: 1.268059  [1344000/5377976]
loss: 1.151474  [1408000/5377976]
loss: 1.062665  [1472000/5377976]
loss: 1.412100  [1536000/5377976]
loss: 3.220829  [1600000/5377976]
loss: 0.875425  [1664000/5377976]
loss: 0.939457  [1728000/5377976]
loss: 0.778702  [1792000/5377976]
loss: 0.846360  [1856000/5377976]
loss: 0.434294  [1920000/5377976]
loss: 1.192022  [1984000/5377976]
loss: 0.328875  [2048000/5377976]
loss: 0.967933  [2112000/5377976]
loss: 0.852096  [2176000/5377976]
loss: 0.379015  [2240000/5377976]
loss: 0.305627  [2304000/5377976]
loss: 0.479791  [2368000/5377976]
loss: 0.637638  [2432000/5377976]
loss: 0.375202  [2496000/5377976]
loss: 0.497465  [2560000/5377976]
loss: 0.225472  [2624000/5377976]
loss: 0.273980  [2688000/5377976]
loss: 0.574204  [2752000/5377976]
loss: 0.287136  [2816000/5377976]
loss: 0.263118  [2880000/5377976]
loss: 0.599248  [2944000/5377976]
loss: 0.289592  [3008000/5377976]
loss: 0.813993  [3072000/5377976]
loss: 0.428537  [3136000/5377976]
loss: 0.495538  [3200000/5377976]
loss: 0.564752  [3264000/5377976]
loss: 0.330526  [3328000/5377976]
loss: 0.153559  [3392000/5377976]
loss: 0.415159  [3456000/5377976]
loss: 0.204304  [3520000/5377976]
loss: 0.144863  [3584000/5377976]
loss: 0.185602  [3648000/5377976]
loss: 0.423567  [3712000/5377976]
loss: 0.214747  [3776000/5377976]
loss: 0.298665  [3840000/5377976]
loss: 0.203576  [3904000/5377976]
loss: 0.309475  [3968000/5377976]
loss: 0.118853  [4032000/5377976]
loss: 0.288215  [4096000/5377976]
loss: 0.187658  [4160000/5377976]
loss: 0.156384  [4224000/5377976]
loss: 0.123022  [4288000/5377976]
loss: 0.375271  [4352000/5377976]
loss: 0.254482  [4416000/5377976]
loss: 0.281902  [4480000/5377976]
loss: 0.267457  [4544000/5377976]
loss: 0.164143  [4608000/5377976]
loss: 0.384412  [4672000/5377976]
loss: 0.207633  [4736000/5377976]
loss: 0.198936  [4800000/5377976]
loss: 0.175362  [4864000/5377976]
loss: 0.272449  [4928000/5377976]
loss: 0.190385  [4992000/5377976]
loss: 0.191259  [5056000/5377976]
loss: 0.219296  [5120000/5377976]
loss: 0.131946  [5184000/5377976]
loss: 0.214618  [5248000/5377976]
loss: 0.234738  [5312000/5377976]
loss: 0.274769  [5376000/5377976]
Test Error:
  AUC: 0.821128
  Avg loss: 0.180571
-------------------------------

Done!

In [38]:
torch.save(model, "FFM.pth")

### Inference

In [3]:
class FFMLayer(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions 
                        The sum become the entire dimension of input (in sparse feature)
                        The length become the number of fields
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.num_fields = len(field_dims)
        self.input_dim = sum(field_dims) #.to(device)
        self.embedding = nn.ModuleList([
            # FILL HERE : Fill in the places `None` with                                      #
            #             either `factorization_dim`, `self.num_fields`, or `self.input_dim`. #
            nn.Embedding(
                self.input_dim, factor_dim
            ) for _ in range(self.num_fields)
        ])

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
               Each value of variable is an index calculated including the dimensions up to the previous variable.
               for instance, [gender:male, age:20, is_student:True] 
                             -> [1,0, 0,1,0,0,0,0, 0,1] in one-hot encoding
                             -> x = [0,3,9].
        Return
            y: Float tensor of size "(batch_size)"
        '''
        
        xv = [self.embedding[f](x) for f in range(self.num_fields)]
        
        y = list()
        for f in range(self.num_fields):
            for g in range(f + 1, self.num_fields):
                y.append(xv[f][:, g] *  xv[g][:, f])
        y = torch.stack(y, dim=1)
        
        return torch.sum(y, dim=(2,1))

class FieldAwareFM(nn.Module):
    def __init__(self, field_dims, factor_dim):
        '''
        Parameter
            field_dims: List of field dimensions
            factor_dim: Factorization dimension
        '''
        super().__init__()
        self.input_dim = sum(field_dims)
        self.encoding_dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])
        self.linear = nn.Linear(self.input_dim, 1, bias=True) # FILL HERE : Fill in the places `None` #
        self.ffm = FFMLayer(field_dims, factor_dim) # FILL HERE : Fill in the places `None` #
        
    def _initialize_weights(self):
        for m in self.modules():
            if isinstance(m, nn.Linear):
                nn.init.normal_(m.weight, 0, 0.01)
                nn.init.constant_(m.bias, 0)
            elif isinstance(m, nn.Embedding):
                nn.init.xavier_uniform_(m.weight)
            elif isinstance(m, FFMLayer):
                nn.init.normal_(m.v, 0, 0.01)

    def forward(self, x):
        '''
        Parameter
            x: Long tensor of size "(batch_size, num_fields)"
                x_multihot: Multi-hot coding of x. size "(batch_size, self.input_dim)"
        
        Return
            y: Float tensor of size "(batch_size)"
        '''
        dims = torch.tensor(self.input_dim).to(device)
        x = x + x.new_tensor(self.encoding_dims).unsqueeze(0)
        x_multihot = torch.zeros(x.size(0), dims).to(device).scatter_(1, x, 1.)
        
        y = self.linear(x_multihot).squeeze(1) + self.ffm(x) # FILL HERE : Use `self.linear()` and `self.ffm()` #

        return y

- Inference Data Load

In [4]:
inference_df = pd.read_csv("inference_base.csv")

# load data
with open('user_dict.pickle', 'rb') as fr:
    user_dict = pickle.load(fr)

# load data
with open('item_dict.pickle', 'rb') as fr:
    item_dict = pickle.load(fr)
print("users :", len(user_dict)) #31360
print("items :", len(item_dict)) #6807

users : 31360
items : 6807

In [5]:
inference_df.sort_values(by="user",axis = 0,inplace = True)

- DataLoader setting

In [6]:
# cuda setting
use_cuda = torch.cuda.is_available()
device = torch.device("cuda" if use_cuda else "cpu")
print(device)

cuda

In [80]:
batch_size = 2048

inference_dataset = TensorDataset(torch.LongTensor(np.array(inference_df)))
inference_dataloader = DataLoader(inference_dataset,
                                  batch_size=batch_size,
                                  pin_memory=use_cuda,
                                  drop_last=False,
                                  shuffle=False,
                                  num_workers = 4,
                                  )

- Load Model

In [77]:
model = torch.load(f"FFM.pth").to(device)
model.eval()

FieldAwareFM(
  (linear): Linear(in_features=40230, out_features=1, bias=True)
  (ffm): FFMLayer(
    (embedding): ModuleList(
      (0): Embedding(40230, 8)
      (1): Embedding(40230, 8)
      (2): Embedding(40230, 8)
      (3): Embedding(40230, 8)
      (4): Embedding(40230, 8)
      (5): Embedding(40230, 8)
      (6): Embedding(40230, 8)
      (7): Embedding(40230, 8)
      (8): Embedding(40230, 8)
      (9): Embedding(40230, 8)
      (10): Embedding(40230, 8)
      (11): Embedding(40230, 8)
      (12): Embedding(40230, 8)
      (13): Embedding(40230, 8)
      (14): Embedding(40230, 8)
      (15): Embedding(40230, 8)
      (16): Embedding(40230, 8)
      (17): Embedding(40230, 8)
      (18): Embedding(40230, 8)
      (19): Embedding(40230, 8)
      (20): Embedding(40230, 8)
    )
  )
)

In [92]:
user_list = list()
score_list = list()
item_list = list()

with torch.no_grad():
    cnt = 0
    for batch in tqdm(inference_dataloader):
        x = batch[0].to(device) 
        # print ("[DEBUG] model input x-----")
        
        # print ("--------------------------")
        output = model(x) #[B] ///x 에 대한 점수
        #idx = torch.where(output >= 1)[0] # 점수가 1 이상인 index
        
        info = x.cpu()
        #scores = output.index_select(0,idx).cpu().tolist()
        scores = output.cpu().tolist()
        users = info[:,0].tolist()
        items = info[:,1].tolist()

        user_list += users
        item_list += items
        score_list += scores

np_user_list = np.array(user_list)
np_item_list = np.array(item_list)
np_score_list = np.array(score_list)

100%|██████████| 15997/15997 [22:44<00:00, 11.72it/s]

### TOP 10

In [93]:
users = list()
items = list()
for user_code, user_id in tqdm(user_dict.items()):
    u_id = int(user_id)

    idx = np.where(np_user_list == user_code)[0].tolist()
    
    item_score = np_score_list.take(idx) #user code 에 해당하는 item_score
    item_ = np_item_list.take(idx) # user code에 해당하는 item
    top10_idx = np.argpartition(item_score, -10)[-10:] # 상위 10개 index 추출

    top10_item = [int(item_dict[code]) for code in item_.take(top10_idx)] #top 10(item code -> item id)
    user_id = [u_id] * 10

    users += user_id
    items += top10_item

  5%|▌         | 1662/31360 [01:18<23:38, 20.93it/s]

In [88]:
result = np.vstack((users,items)).T

0 11.0

### SAVE submission.csv

In [ ]:
info = pd.DataFrame(result, columns=['user','item'])
info.to_csv("FFM_submission.csv",index=False)

#### Recall@10

In [ ]:
import json

print("testing recall@10...")
# 학습에 사용된 user만 uniq_user에 저장
uniq_user = list(user_dict.values())
print (f"Number of users : {len(uniq_user)}")

with open("/opt/ml/input/workspace/BERT4Rec/data/answers.json", "r") as json_file: #answer.json 경로 지정
    answer = json.load(json_file)

# movielens-20m과 submission을 비교하여 Recall@10 값 계산
submission_df = pd.read_csv(f"submission.csv")
recall_result = []

# 각 유저마다 recall@10 계산하여 list에 저장
for user in tqdm(uniq_user):
    submission_by_user = submission_df[submission_df['user'] == user]['item']

    hit = 0
    for item in submission_by_user:
        if item in answer[str(user)]:
            hit += 1

        recall_result.append(hit / 10)

# 전체 유저의 Recall@10의 평균 출력
print (f"Predicted submission result of Recall@10 = {np.average(recall_result)}")

#### 1.3.4. 학습 곡선 도식화

---

## 2. PyTorch로 FFM 구현하기

In [78]:
x = torch.tensor([[5,1,2]])
field_dims = [10,10,10]
input_dim = sum(field_dims)
x_multihot = torch.zeros(1, input_dim).scatter_(1,x,1.)
x_multihot

tensor([[0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [98]:
np.cumsum(field_dims)[:-1]

array([10, 20])

In [89]:
encoding_dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])
x_new = x.new_tensor(encoding_dims).unsqueeze(0)
x_new

tensor([[ 0, 10, 20]])

In [87]:
x_temp = x + x_new
x_multihot = torch.zeros(1, input_dim).scatter_(1,x_temp,1.)
x_multihot

tensor([[0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
         0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]])

In [8]:
dims = np.concatenate([[0], np.cumsum(field_dims)[:-1]])